<style>
  .custom-navbar {
    margin-bottom: 0;
    background-color: #bc0005;
    padding: 20px 0;
    position: static;
  }
</style>

<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, class: 'form-control form-edit' %>
  </div>

  <div class="actions float-left">
    <%= form.submit class: 'btn bnt-sucess' %>
  </div>
<% end %>
