<style>
  .custom-navbar {
    margin-bottom: 0;
    background-color: #bc0005;
    padding: 20px 0;
    position: static;
  }
</style>

<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id, Restaurant.all.collect {|restaurant| [restaurant.nome, restaurant.id] } %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|category| [category.nome, category.id] } %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control form-edit' %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco, class: 'form-control form-edit' %>
  </div>

  <div class="field">
    <%= form.label :tempopreparo %>
    <%= form.time_select :tempopreparo, class: 'form-control form-edit' %>
  </div>

  <label>Ingredientes</label>
  <% for ingredient in Ingredient.all %>
    <div>
      <%= check_box_tag "dish[ingredient_ids][]", ingredient.id, @dish.ingredients.include?(ingredient) %>
      <%= ingredient.descricao %>
    </div>
  <% end %>

  <div class="actions float-left">
    <%= form.submit class: 'btn bnt-sucess' %>
  </div>
<% end %>
