<style>
  .custom-navbar {
    margin-bottom: 0;
    background-color: #bc0005;
    padding: 20px 0;
    position: static;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container restaurantes-pesquisa mb-1">

<h1>Restaurantes</h1>

  <div class="row">
    <% if not @restaurants.blank? %>
      <% @restaurants.each do |restaurant| %>

        <div class="col-md-6 col-sm-6 pb-1 pl-0">
          <div class="card">
            <div class="card-body">
              <h2><%= restaurant.nome %></h2>
              <h3><%= restaurant.endereco %></h3>
              <h4><%= restaurant.telefone %></h4>
              <span><%= link_to 'Visualisar', restaurant %></span>
              <span><%= link_to 'Editar', edit_restaurant_path(restaurant) %></span>
              <span><%= link_to 'Excluir', restaurant, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></span>
            </div>
          </div>
        </div>

      <% end %>
    <% else %>
      <p>Nenhum restaurante cadastrado.</p>
    <% end %>

  </div>
  <%= link_to 'Novo Restaurante', new_restaurant_path %>
</div>

