<style>
  .custom-navbar {
    margin-bottom: 0;
    background-color: #bc0005;
    padding: 20px 0;
    position: static;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container mb-1">

  <h1>Categorias</h1>

  <div class="row">

    <% @categories.each do |category| %>
      <div class="col-md-6 col-sm-6 pb-1 pl-0">
        <div class="card">
          <div class="card-body">
            <tr>
              <td><b><%= category.nome %></b></td>
              <div class="float-rigth">
                <span><%= link_to 'Visualisar', category%></span>
                <span><%= link_to 'Editar', edit_category_path(category) %></span>
                <span><%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></span>
              </div>
            </tr>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <%= link_to 'New Category', new_category_path %>

</div>

