<style>
  .custom-navbar {
    margin-bottom: 0;
    background-color: #bc0005;
    padding: 20px 0;
    position: static;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <div class="col-md-6 col-sm-6 pb-1 pl-0">
      <div class="card">
        <div class="card-body">
          <tr>
            <td><b><%= @category.nome %></b></td>
          </tr>

          <div class="float-rigth">
            <%= link_to 'Edit', edit_category_path(@category) %> |
            <%= link_to 'Back', categories_path %>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
